<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Squeeze Scanner" Language="1033" Version="0.0.2" Manufacturer="DEXPRO Solutions GmbH" UpgradeCode="f2101ae7-000d-4fb4-ab40-92234df6d842">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="SqueezeScanner.cab" EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="icon.ico" SourceFile="..\NAPS2.Core\Icons\1.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="bannerBitmapOtris.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dlgBackground.bmp" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="..\NAPS2\Setup\license.rtf" />

    <Feature Id="MainApplication" Title="DOCUMENTS Scanner" Level="1">
      <ComponentRef Id="Exec" />
      <ComponentRef Id="Cli" />
      <ComponentRef Id="Deps" />
      <ComponentRef Id="Deps64" />
      <ComponentRef Id="twaindsm" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="RegistryEntries" />
      <ComponentGroupRef Id="LangComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Squeeze Scanner">
          <Directory Id="LIBFOLDER" Name="lib">
            <Directory Id="LIB64FOLDER" Name="64" />
          </Directory>
          <Directory Id="CLIFOLDER" Name="cli">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Squeeze Scanner" />
      </Directory>
      <Directory Id="SystemFolder" />

      <!-- Registry -->
      <Component Id="RegistryEntries" Guid="D0E70A21-78CA-4DB0-A342-AEB869BBDA89">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\AutoplayHandlers\Handlers\WIA_{1c3a7177-f3a7-439e-be47-e304a185f932}">
          <RegistryValue Type="string" Name="Action" Value="Scan with Squeeze Scanner" />
          <RegistryValue Type="string" Name="CLSID" Value="WIACLSID" />
          <RegistryValue Type="string" Name="DefaultIcon" Value="sti.dll,0" />
          <RegistryValue Type="string" Name="InitCmdLine" Value="/WiaCmd;[INSTALLFOLDER]NAPS2.exe /StiDevice:%1 /StiEvent:%2;" />
          <RegistryValue Type="string" Name="Provider" Value="Squeeze Scanner" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\StillImage\Registered Applications">
          <RegistryValue Type="string" Name="Squeeze Scanner" Value="[INSTALLFOLDER]NAPS2.exe" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\StillImage\Events\STIProxyEvent\{1c3a7177-f3a7-439e-be47-e304a185f932}">
          <RegistryValue Type="string" Name="Cmdline" Value="[INSTALLFOLDER]NAPS2.exe /StiDevice:%1 /StiEvent:%2" />
          <RegistryValue Type="string" Name="Desc" Value="Scan with Squeeze Scanner" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLFOLDER]NAPS2.exe,0" />
          <RegistryValue Type="string" Name="Name" Value="Squeeze Scanner" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="d5scanner">
          <RegistryValue Type="string" Value="URL:Squeeze Scanner Protocol" />
          <RegistryValue Type="string" Name="URL Protocol" Value="" />
          <RegistryValue Key="DefaultIcon" Type="string" Value="[INSTALLFOLDER]NAPS2.exe" />
          <RegistryValue Key="shell\open\command" Type="string" Value="&quot;[INSTALLFOLDER]NAPS2.exe&quot; &quot;/ProtocolHandler:%1&quot;" />
        </RegistryKey>
      </Component>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Exec" Guid="CB5ED3EA-3EC8-4873-B0F9-05D33F8F2283">
        <!-- EXEs -->
        <File Source="..\NAPS2\bin\InstallerMSI\NAPS2.exe" />
        <File Source="..\NAPS2\bin\InstallerMSI\NAPS2.exe.config" />
        <File Source="..\NAPS2.Console\bin\InstallerMSI\NAPS2.Console.exe" />
        <File Source="..\NAPS2.Console\bin\InstallerMSI\NAPS2.Console.exe.config" />
        <File Source="..\NAPS2.Worker\bin\InstallerMSI\NAPS2.Worker.exe" />
        <File Source="..\NAPS2.Worker\bin\InstallerMSI\NAPS2.Worker.exe.config" />
        <File Source="..\NAPS2.Service\bin\InstallerMSI\NAPS2.Service.exe" />
        <File Source="..\NAPS2.Service\bin\InstallerMSI\NAPS2.Service.exe.config" />
        <!-- Configuration -->
        <File Source="..\NAPS2\appsettings.xml" />
        <!-- License -->
        <File Source="..\LICENSE" Name="license.txt" />
        <File Source="..\CONTRIBUTORS" Name="contributors.txt" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="CLIFOLDER">
      <Component Id="Cli" Guid="D2BF5F0D-3D38-4483-A316-D0304D1F2ED5">
        <!-- Batch Files -->
        <File Source="..\NAPS2.Console\bin\InstallerMSI\cli\documentsscanner.bat" />
        <Environment Id="SET_ENV" Action="set" Name="PATH" Part="last" Permanent="no" System="yes" Value="[CLIFOLDER]" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LIBFOLDER">
      <Component Id="Deps" Guid="E809C81D-55D8-484E-BF14-5439E8E4DFCA">
        <!-- Dependencies -->
        <File Source="..\NAPS2\bin\InstallerMSI\NAPS2.Core.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\NAPS2.DI.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\CommandLine.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\Ghostscript.NET.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\ICSharpCode.SharpZipLib.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\Microsoft.Threading.Tasks.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\Microsoft.Threading.Tasks.Extensions.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\System.Net.Http.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\System.Net.Http.Extensions.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\System.Net.Http.Primitives.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\System.Net.Http.WebRequest.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\MimeKit.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\Newtonsoft.Json.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\Ninject.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\NLog.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\NTwain.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\PdfSharp.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\System.IO.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\System.Runtime.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\System.Threading.Tasks.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\System.ValueTuple.dll" />
        <File Source="..\NAPS2\bin\InstallerMSI\zxing.dll" />
        <File Source="..\NAPS2\Setup\lib\NAPS2.WIA.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LIB64FOLDER">
      <Component Id="Deps64" Guid="7E2B6491-8FF2-4143-AC49-13CA0DFDE8F5">
        <!-- Dependencies -->
        <File Source="..\NAPS2\Setup\lib\64\twaindsm.dll" Id="twaindsm64" />
        <File Source="..\NAPS2\Setup\lib\64\NAPS2.WIA.dll" Id="naps2wia64" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SystemFolder">
      <!-- System Dependencies -->
      <Component Id="twaindsm" Guid="636F5A62-9717-4D8E-8CF8-F902076C70DE" Permanent="yes">
        <File Source="..\NAPS2\Setup\lib\twaindsm.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ApplicationShortcut" Guid="1F9C97E5-BBB9-4E3E-8635-4AB25707F819">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Squeeze Scanner" Description="Squeeze Scanner" Target="[INSTALLFOLDER]NAPS2.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Squeeze Scanner" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Product>
</Wix>
